extends layout-general.jade
block head
    //- Rich Snippets
    script(type='application/ld+json').
        {
        "@context": "https://schema.org",
        "@type": "Corporation",
        "name": "DUDUDU",
        "alternateName": "DUDUDU DESARROLLO WEB",
        "url": "https://dududu.groupcusco.com/",
        "logo": "https://dududu.groupcusco.com/assets/logo/Logo_DUDUDU_web_main_v1.webp",
        "sameAs": [
        "https://www.facebook.com/DUDUDUWEB",
        "https://www.instagram.com/dududuweb/",
        "https://www.linkedin.com/company/dududu-desarrollo-web/"
        ]
        }
block body
    body.inicio 
        //- La cabecera con una imagen de fondo
        header.img_inicial
            nav.menu_principal
                .logo_m
                    a(href="/")
                        img(src="/assets/brand/Logo_DUDUDU_blanco.webp")
                .pag_sec_m
                    .quienes_somos_m
                        a(href="/quienes-somos") QUIENES SOMOS
                    .servicios_m
                        a(href="/servicios") SERVICIOS
                    .portafolio_m
                        a(href="/portafolio") PORTAFOLIO
                    .blog_m
                        a(href="/blog") BLOG
            abbr(title='Hola, en que te podemos ayudar :)')
                a.link_flotante_wp(href='https://api.whatsapp.com/send?phone=940826034&text=Hola,%20vengo%20de%20su%20sitio%20web.', target='_blank', rel='noopener noreferrer')
                    i.fa-brands.fa-whatsapp.fa-3x
        block content


