extends layout-general.jade
block body
    body.blog
        //- La cabecera de las paginas secundarias
        header.cabecera_estandar
            nav.menu_estandar
                .logo_me
                    a(href='/')
                        img(src='/assets/brand/Logo_DUDUDU_blanco.webp', alt='Logo DUDUDU')
                .pag_sec_me
                    .quienes_somos_me
                        a(href='/quienes-somos') QUIENES SOMOS
                    .servicios_me
                        a(href='/servicios') SERVICIOS
                    .portafolio_me
                        a(href='/portafolio') PORTAFOLIO
                    .blog_me#blog_me
                        a(href='/blog/') BLOG
        block content
        //- Menu, página actual
        script.
                const blogMe = document.getElementById("blog_me");

                if (document.title == 'BLOG') {
                    blogMe.classList.add("blog_me_a");
                }


