extends layout-general.jade
block body
    body.quienes_somos
        //- La cabecera de las paginas secundarias
        header.cabecera_estandar
            nav.menu_estandar
                .logo_me
                    a(href='/')
                        img(src='/assets/brand/Logo_DUDUDU_blanco.webp', alt='Logo DUDUDU')
                .pag_sec_me
                    .quienes_somos_me#quienes_somos_me
                        a(href='/quienes-somos') QUIENES SOMOS
                    .servicios_me#servicios_me
                        a(href='/servicios') SERVICIOS
                    .portafolio_me#portafolio_me
                        a(href='/portafolio') PORTAFOLIO
                    .blog_me
                        a(href='/blog') BLOG
            abbr(title='Hola, en que te podemos ayudar :)')
                a.link_flotante_wp(href='https://api.whatsapp.com/send?phone=940826034&text=Hola,%20vengo%20de%20su%20sitio%20web.', target='_blank', rel='noopener noreferrer')
                    i.fa-brands.fa-whatsapp.fa-3x
        block content
        //- Menu, página actual
        script.
                const quienesSomosMe = document.getElementById("quienes_somos_me");
                const serviciosMe = document.getElementById("servicios_me");
                const portafolioMe = document.getElementById("portafolio_me");

                if (document.title == 'QUIENES SOMOS') {
                    quienesSomosMe.classList.add("quienes_somos_me_a");
                } else if (document.title == 'SERVICIOS') {
                    serviciosMe.classList.add("servicios_me_a");
                } else if (document.title == 'PORTAFOLIO') {
                    portafolioMe.classList.add("portafolio_me_a");
                }

