extends layouts/layout-page-no-wa.jade
block metatag
        meta(name='description', content='Mayormente subiremos ejemplos y consejos prácticos para proyectos en la web.')
        meta(name='keywords', content='Blog, Web')
        meta(name='author', content='DUDUDU')
        meta(name='copyright', content='DUDUDU')
block content
    main.contenido_p_blog
        //- Sección de artículos
        section.seccion_articulos_b
            h1 NUESTROS ARTICULOS
            p.descripcion_nuestros_articulos_b Mayormente subiremos ejemplos y consejos prácticos para proyectos en la web.
            .seccion_articulos_contenedor_b
                article.articulo_1
                    a(href='#')
                        picture
                            source(media='(max-width: 576px)', srcset='/assets/images/blog/lo-primero-que-necesitas-para-tener-un-sitio-web/portada_1ro_mecesitas_sitio_web_cel.webp')
                            source(media='(min-width: 577px)', srcset='/assets/images/blog/lo-primero-que-necesitas-para-tener-un-sitio-web/portada_1ro_mecesitas_sitio_web.webp')
                            img(src='/assets/images/blog/lo-primero-que-necesitas-para-tener-un-sitio-web/portada_1ro_mecesitas_sitio_web.webp', alt='sitio web escritorio')
                    a(href='#')
                        h2 Lo primero que necesitas para tener un sitio web
                    p Con el acceso al internet se puede escuchar muchos términos y conceptos, pero puede ser confuso darle un contexto a todo ello, en este articulo te daré mi opinión para tener un sitio web.
                    p
                        span Fecha: 31/05/2022
                    form(action='#')
                        button(type='submit') Leer más


