extends layouts/layout-page-wa.jade
block metatag
        meta(name='description', content='Somos una empresa que ayuda a conectar empresas, instituciones y personas con el mundo digital, para que logren sus objetivos.')
        meta(name='keywords', content='DUDUDU, MISIÓN, VISIÓN')
        meta(name='author', content='DUDUDU')
        meta(name='copyright', content='DUDUDU')
block content
    main.contenido_p_quienes_somos
        //- Misión, vision y valores
        section.mision_vision
            h1 SOBRE DUDUDU
            .mision_vision_contenedor
                article.mision_quienes_somos
                    h2 MISIÓN
                    p Somos una empresa que ayuda a conectar empresas, instituciones y personas con el mundo digital, para que logren sus objetivos.
                article.vision_quienes_somos
                    h2 VISIÓN
                    p Ser una empresa con presencia a nivel nacional, ayudando a competir en el mundo digital.
                article.valores_quienes_somos
                    h2 VALORES
                    ul
                        li Cultura organizacional
                        li Experimentación
                        li Innovación
                        li Empatía
        //- Porque lo hacemos
        section.porque_lo_hacemos
            h2 ¿Por qué lo hacemos?
            p Brindamos nuestros servicios para lograr que más personas, empresas e instituciones logren sus objetivos con ayuda del diseño y desarrollo web.
        //- Llamada a la acción
        section.servicios_quienes_somos
            h2 ¿Quieres ver nuestros servicios?
            p Así es como podemos ayudarte a hacer tus proyectos en la web.
            form(action='servicios')
                button(type='submit') Me interesan sus servicios.


